body {
	background-color: black;
	color: white;
	font-family: avenirNext, sans-serif;
	//font-size: 16px;
}

.container {
	position:relative;
	width: 100%;
}

.cell {
	position:absolute;
	width: 33%;
}

.left {
	left: 0;
}

.middle {
	left: 33%;
}

.middle > .content > * {
	margin: auto;
}

.right {
	right: 0;
}

.right > .content > * {
	margin-left: auto;
	margin-right: 0;
}

.content {
	padding-top: 40px;
}

.text-overflow-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* time */
.time {
	font-size: 2.8125rem;
}

#clock {
	font-size: 4.375rem;
}

#seconds {
    opacity: 0.6;
    vertical-align: 30px;
	font-size: 1.75rem;
}

.bh, .bm, .bs {
    border: 1px solid #333333;
    border-radius: 3px;
    height: 50px;
    width: 50px;
}

#binEasy {
    opacity: 0.5;
    text-align: center;
	font-size: 1.5rem;
}

/* calendar */
.calRow {
	font-size: 1.5rem;
}
.calWeek {
    text-align: right;
	padding: 0px 10px;
}

.calDate {
    text-align: center;
	padding: 0px 10px;
    border-radius: 4px;
}

.calOutsideCurrentMonth {
    opacity: 0.5;
}

.calToday {
	background-color: #808080;
	color: black;
}

/* weather */
#indoorTempRow {
    text-align: left;
	font-size: 1.5625rem;
}

#currentWeatherIcon, #currentWeatherTemp {
	text-align: center;
	font-size: 3.125rem;
}

#currentWeatherIcon {
	width: 30%;
}

.forecast {
	font-size: 1.875rem;
}

.forecastDay, .forecastIcon {
    width: 16%;
    opacity: inherit;
    text-align: right;
}

.forecastTemp {
    width: 34%;
    opacity: inherit;
    text-align: right;
}

/* gas */
#gasTable {
	font-size: 1.875rem;
}

#svg {
    height: 60px;
    vertical-align: -7px;
}

#gasTextRow {
	opacity: 0;
}

#milli {
	font-size: 0.9375rem;
    opacity: 0.6;
    vertical-align: 10px;
}

/* transport */

#transportTable {
	table-layout: fixed;
	width: 100%;
}

.transRow {
	font-size: 1.875rem;
	text-align: right;
}

.transLine {
	width: 12%;
}

.transDir {
	text-align: left;
	padding-left: 12px;
}

.transTime {
	width: 12%;
	padding-left: 8px;
}

/* font */
@font-face {
	font-family: avenirNext;
	src: url(../font/AvenirNextLTPro-Regular.otf);
}
