body {
    background-color: black;
    color: white;
    font-family: avenirNext-Regular, sans-serif;
	font-size: 25px;
}

.left {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 25%;
}

.middle {
    position: absolute;
    left: 25%;
    height: 100%;
    width: 50%;
    text-align: center;
}

.right {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 25%;
}

/* time */
.time {
	font-size: 30px;
}

.clock {
	font-size: 60px;
}

.seconds {
    opacity: 0.5;
    vertical-align: 31px;
	font-size: 15px;
}

/* weather */
.weather {
}

.indoorTemp {
    text-align: left;
	font-size: 20px;
}

.currentWeatherIcon, .currentWeatherTemp {
    text-align: center;
    font-size: 45px;
}

.currentWeatherIcon {
    width: 30%;
}

.forecastDay, .forecastIcon {
    width: 17%;
    opacity: inherit;
}

.forecastTemp {
    text-align: right;
    width: 33%;
    opacity: inherit;
}

.forecast0 {
}

.forecast1 {
    opacity: 0.85;
}

.forecast2 {
    opacity: 0.7;
}

.forecast3 {
    opacity: 0.55;
}

.forecast4 {
    opacity: 0.4;
}

/* gas */
.gasTable {
	font-size: 20px;
}

#svg {
    height: 60px;
    vertical-align: -3px;
}

.milli {
	font-size: 12px;
    opacity: 0.75;
    vertical-align: 6px;
    margin-left: -3px;
}

/* font */
@font-face {
    font-family: avenirNext-Regular;
    src: url(../font/AvenirNextLTPro-Regular.otf);
}