body {
	background-color: black;
	color: white;
	font-family: avenirNext, sans-serif;
	//font-size: 16px;
}

.container {
	width: 100%;
}

.cell {
	float: left;
	width: 33.33%;
}

.middle > .content > * {
	margin: auto;
}

.right > .content > * {
	margin-left: auto;
	margin-right: 0;
}

.content {
	padding-top: 40px;
}

.text-overflow-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* time */
.time {
	font-size: 2.8125rem;
}

#clock {
	font-size: 4.375rem;
}

#clockSeconds {
    opacity: 0.6;
    vertical-align: 30px;
	font-size: 1.75rem;
}

.bh, .bm, .bs {
    border: 1px solid #333333;
    border-radius: 3px;
    height: 50px;
    width: 50px;
}

#binEasy {
    opacity: 0.5;
    text-align: center;
	font-size: 1.5rem;
}

/* calendar */
.calRow {
	font-size: 1.5rem;
}
.calWeek {
    text-align: right;
	padding: 0px 10px;
}

.calDate {
    text-align: center;
	padding: 0px 10px;
    border-radius: 4px;
}

.calOutsideCurrentMonth {
    opacity: 0.5;
}

.calToday {
	background-color: #808080;
	color: black;
}

/* weather */
#indoorTempRow {
    text-align: left;
	font-size: 1.5625rem;
}

#currentWeather {
	font-size: 3.125rem;
	transition: opacity 0.7s linear 0s;
}

#currentWeatherIcon {
	text-align: center;
	width: 30%;
}

#currentWeatherTemp {
	text-align: right;
}

.forecast {
	font-size: 1.875rem;
	transition: opacity 0.7s linear 0s;
}

.forecastDay, .forecastIcon {
    width: 16%;
    opacity: inherit;
    text-align: right;
}

.forecastTemp {
    width: 34%;
    opacity: inherit;
    text-align: right;
}

/* gas */
#gasTable {
	font-size: 1.875rem;
}

#gasTextCell {
	transition: opacity 0.7s linear 0s;
}

#gasIcon {
    height: 60px;
    vertical-align: -7px;
}

#milli {
	font-size: 0.9375rem;
    opacity: 0.6;
    vertical-align: 10px;
}

/* transport */

#transportTable {
	table-layout: fixed;
	width: 100%;
}

.transRow {
	font-size: 1.875rem;
	text-align: right;
	transition: opacity 0.7s linear 0s;
}

.transLine {
	width: 12%;
}

.transDir {
	text-align: left;
	padding-left: 12px;
}

.transTime {
	width: 12%;
	padding-left: 8px;
	transition: opacity 0.7s linear 0s;
}

.transCancelled {
	text-decoration: line-through;
}

/* font, provide your own file */
@font-face {
	font-family: avenirNext;
	src: url(/static/font/AvenirNextLTPro-Regular.otf);
}
